API_BASE_URL=http://192.168.1.74:8000/api/v1 # Ajustar la ip al valor correcto
LOGIN_ENDPOINT=/login/
REGISTER_ENDPOINT=/register/
REFRESH_ENDPOINT=/refresh/
USER_ENDPOINT=/users/
PROF_PIC_ENDPOINT=/media/profile_pics/
NOTIFICATIONS_ENDPOINT=/notifications/
PREFERENCES_ENDPOINT=/preferences/
DRIVER_RATING_ENDPOINT=/driverratings/
VEHICLES_ENDPOINT=/vehicles/
TRAVELS_ENDPOINT=/travel/
REQUEST_TRAVELS_ENDPOINT=/requesttravel/
VERIFICATION_EMAIL_ENDPOINT=/users/verification_email/
VERIFY_CODE_ENDPOINT=/users/verify_code/
VERIFY_EXIST_EMAIL_ENDPOINT=/users/exist_email/
UPLOAD_PROF_PIC_ENDPOINT=/upload-profile_picture/
DELETE_PROF_PIC_ENDPOINT=/delete-profile_picture/
UPDATE_PREFERENCES_ENDPOINT=/update-preferences/
PICKUP_POINTS_ENDPOINT=/pickuppoints/
API_GOOGLE_PLACES_KEY=<GOOGLE PLACES API KEY> #Es opcional, ya que por defecto usa ORS no Google
ORS_API_KEY=<OPEN ROUTE SERVICE API KEY>
SEARCH_TRAVELS_ENDPOINT=/travel/search-travels/ 
REQUEST_TRAVEL_ENDPOINT=/travel/request-travel/
RECEIVED_REQUESTS_ENDPOINT=/received-requests/
CREATED_REQUESTS_ENDPOINT=/my-requests/
CHANGE_TRAVEL_TYPE_ENDPOINT=/change_type/
REMOVE_PASSENGER_ENDPOINT=/remove_passenger/
RATE_A_DRIVER_ENDPOINT=/rate_a_driver/
EDIT_TRAVEL_ENDPOINT=/edit/
EDIT_PICKUP_POINTS_ENDPOINT=/change_pickup_points/
VALIDATE_PASSENGER_ENDPOINT=/validate_passenger/
FINISH_TRAVEL_ENDPOINT=/finish_travel/
CHANGE_PASSWORD_ENDPOINT=/change_password/
LOGOUT_ENDPOINT=/logout/
TWO_FACTOR_ENDPOINT=/two_factor/
TWO_FACTOR_CHALLENGE_ENDPOINT=/two_factor/challenge/
NEXT_TRAVEL_ENDPOINT=/next_travel/
REACHED_PICKUP_POINT_ENDPOINT=/reached_pickup_point/
GOOGLE_WEB_CLIENT_ID=<GOOGLE WEB CLIENT ID>
GOOGLE_AUTH_LOGIN_ENDPOINT=/auth/google/login/
GOOGLE_AUTH_REGISTER_ENDPOINT=/auth/google/register/
CHATS_ENDPOINT=/chats/
WS_BASE_URL=ws://192.168.1.74:8000
UNREAD_NOTIFICATION_ENDPOINT=/notifications/unread-count/
MESSAGES_ENDPOINT=/messages/
MUTE_NOTIFICATION_ENDPOINT=/mute/
ARCHIVE_CHAT_ENDPOINT=/archive/
UNARCHIVE_CHAT_ENDPOINT=/unarchive/
WEBSOCKET_CHAT_ENDPOINT=/ws/chat/
