<!DOCTYPE html>
<html lang="es">
<body>
    <p>Su código de verificación de <strong>BlaBlaUCM</strong> es:</p>

    <div style="font-size:22px;font-weight:bold;margin:16px 0;">
        {TOKEN}
    </div>

    <p>Introdúzcalo en la aplicación para completar el proceso de verificación.</p>

    <p style="font-size:12px;color:#666;">
        Si usted no solicitó este código, puede ignorar este mensaje.
    </p>
    <p style="color:gray; font-size:12px;">
        Este es un correo automático, por favor no respondas a este mensaje.
    </p>

</body>
</html>
